@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  /* Define the utility name: animate-loader-slide */
  --animate-loader-slide: loader-slide 2s ease-in-out infinite;
  
  /* Define the utility name: animate-spin-slow */
  --animate-spin-slow: spin 3s linear infinite;

  @keyframes loader-slide {
    0% { transform: translateX(-100%); width: 30%; }
    50% { transform: translateX(100%); width: 50%; }
    100% { transform: translateX(250%); width: 30%; }
  }
}

body {
  @apply bg-black text-white text-sm font-poppins antialiased;
}

button {
  @apply cursor-pointer;
}

/* global.css */
@layer utilities {
  /* For Chrome, Safari, and Edge */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #3f3f46;
    /*zinc-700*/
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #6366f1; /* indigo-500 */
  }
}
